# Dependencies
node_modules

# Builds
.next
out
dist
tsconfig.tsbuildinfo

# Environment
.env.local
.env*.local

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.DS_Store
*.swp
